@media screen and (max-width: 768px) {
      #menu-toggle:checked + .nav-menu {
        display: block;
      }
}

.login {
    width: 500px;
}

.box {
    margin-top: 200px;
    margin-left: 400px;
}

#blue {
    color: blue;
}